# Visit https://github.com/lowlighter/metrics/blob/master/action.yml for full reference
name: Metrics
on:
  # Schedule updates (each hour)
  schedule: [{cron: "0 * * * *"}]
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: sdttttt
          template: classic
          base: ""
          config_timezone: Asia/Shanghai
          
          plugin_activity: yes
          plugin_activity_days: 7
          plugin_activity_filter: all
          plugin_activity_limit: 3
          plugin_activity_load: 300
          plugin_activity_timestamps: yes
          plugin_activity_visibility: public
          
          
          plugin_languages: yes
          plugin_languages_ignored: html, css, scss
          plugin_languages_skipped: sdttttt.github.io
          plugin_languages_analysis_timeout: 20
          plugin_languages_categories: programming
          plugin_languages_colors: github
          plugin_languages_limit: 4
          plugin_languages_recent_categories: programming
          plugin_languages_recent_days: 100
          plugin_languages_recent_load: 500
          plugin_languages_sections: most-used, recently-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 1%
          
          plugin_code: yes
          plugin_code_load: 400
          
